.footer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: inline;
}

.footer__menu li {
  display: inline-block;
}

.footer__menu li a {
  margin: 0 10px;
}

.footer__menu li a:hover {
  color: #c27b7f;
}