.pricing__item {
  background-color: #f5ebe6;
  padding: 40px 50px;
  text-align: center;
  transition: .3s;
}

.pricing__item:hover {
  box-shadow: 5px 5px #876585;
}

.pricing__item.active {
  box-shadow: 5px 5px #876585;
}

@media only screen and (max-width: 991px) {
  .pricing__item {
    padding: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .pricing__item {
    padding: 40px 50px;
  }
}

.pricing__price {
  font-size: 40px;
}

.pricing__list {
  padding-left: 0;
  margin: 40px 0;
}

.pricing__list li {
  list-style: none;
  padding: 10px 0;
}

.pricing__list li:not(:last-child) {
  border-bottom: 1px solid #c27b7f;
}

.pricing__list li svg {
  font-size: 20px;
  margin-right: 15px;
}

.bg-one .pricing__item {
  background-color: #fff;
}

.bg-one .pricing__list li:not(:last-child) {
  border-bottom: 1px solid #eff0f7;
}