@import './abstracts/animation.css';

@import './base/base.css';
@import './base/typography.css';

@import './components/header.css';
@import './components/hero.css';
@import './components/achieve.css';
@import './components/chapter.css';
@import './components/pricing.css';
@import './components/author.css';
@import './components/achievement.css';
@import './components/counter.css';
@import './components/books.css';
@import './components/cta.css';
@import './components/testimonial.css';